.public_bg{
	 background: linear-gradient(to bottom, rgb(242,242,242), rgb(250,250,250));
	 overflow: hidden;
	 width: 100%;
}
/*banner*/
.banner_box{
	height: 450px;

}
#banner{
	margin: 70px auto 0;
}
.swiper-slide{
	width: 750px;
	height: 300px;
}
.swiper-slide img{
	width: 750px;
	height: 300px;
}
.banner_page{
	margin: 20px auto 50px;
	left: 0;
	right: 0;
}
.banner_page span{
	margin: 0 10px;
}
.swiper-pagination-bullet-active{
	width: 16px;
	border-radius: 8px;
}

/*search*/
/*.search{
	margin: 5px auto;
}*/
.search_top a{
	display: inline-block;
	padding: 10px 60px;
	box-sizing: border-box;
	border: 1px solid #ccc;

}
.search_top  i{
	display:inline-block;   
}
.search_top a i{
	width: 10px;
    height: 6px;
	background-position: -120px -260px;
	background-image: url('../images/icon_sprite.png');
	margin-left: 10px;
}
.search_top a i:hover{
	cursor: pointer;
}
.search_top .search_inp i{
	 width: 22px;
    height: 22px;
}
.search_inp{
	display: inline-block;
	overflow: hidden;
	/*margin-top: 10px;*/
	position: absolute;
}
.search_inp input{
	width: 270px;
	height: 45px;
	outline: none;
	border: 1px solid #ccc;
	margin-left: 5px;
	padding-left: 10px;
	box-sizing: border-box;
	float: left;
	border-radius: 5px;
}
.search_inp span{
	display: inline-block;
	width: 45px;
	height: 45px;
	background: #31c27c;
	/*margin-top: -7px;*/
	margin-left: -5px;
	/*float: left;*/
}
.search_inp span i{
	width: 22px;
    height: 22px;
    background-image: url('../images/sprite_ticket.png');
    background-position: 0 0;
    margin-top: 10px;
    margin-left: 10px;
}
.myOrder{
	display: inline-block;
	float: right;
	border: none;
}
.search_bottom{
	margin: 40px 0;
	overflow: hidden;
	/*text-align: center;*/
}
.search_bottom li{
	width: 155px;
	height: 32px;
	line-height: 32px;
	margin: 10px 5px;
}
.search_bottom i{
	display: inline-block;
	float: left;
	margin-right: 10px;
	width: 31px;
    height: 31px;
    background-image: url('../images/icon_ticket.png');
}
.icon1{
	background-position: -280px -40px;
}
.icon2{
	background-position: -40px 0px;
}

.icon3{
	background-position: -360px 0px;
}
.icon4{
	background-position: -80px 0px;
}
.icon5{
	background-position: -160px 0px;
}
.icon6{
	background-position: -200px 0px;
}
.icon7{
	background-position: -320px 0px;
}
.icon2:hover{
	cursor: pointer;
	background-position: -40px -40px;
}
.icon3:hover{
	cursor: pointer;
	background-position: -360px -40px;
}
.icon4:hover{
	cursor: pointer;
	background-position: -80px -40px;
}
.icon5:hover{
	cursor: pointer;
	background-position: -160px -40px;
}
.icon6:hover{
	cursor: pointer;
	background-position: -200px -40px;
}
.icon7:hover{
	cursor: pointer;
	background-position: -320px -40px;
}


/*ticket*/
.content_h2{
	text-align: center;
	margin: 60px auto 30px;
}
.ticket_box_left{
	width: 316px;
	height: 416px;
	position: relative;
	display: inline-block;
}
.img_left{
	width: 316px;
	height: 416px;
}
.side_info{
	width: 316px;
	height: 120px;
	line-height: 30px;
	text-align: center;
	padding: 15px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
}

/*ticket_detials*/
.ticket_box_right{
	width: 830px;
	height: 416px;
	float: right;
}
.ticket_detials h3{
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
	width: 220px;
	/*text-align: center;*/
	
}
.ticket_detials h3:hover{
	cursor: pointer;
}
.ticket_detials_title{
	overflow: hidden;
	/*height: 31px;*/
}
.ticket_detials_title a{
	float: right;
	margin-top: -58px;
}

.ticket_box_right img{
	width: 148px;
	height: 194px;
	display: inline-block;
	float: left;
}
.ticket_box_right ul{
	width: 830px;
	/*overflow: hidden;*/
}
.ticket_box_right ul li{
	width: 405px;
	height: 200px;
	margin-bottom: 15px;
	margin-right: 10px;
	/*overflow: hidden;*/

}
.ticket_detials p{
	font-size: 14px;
}
.ticket_detials p:hover{
	cursor: pointer;
}
.ticket_box_right ul li p:nth-child(2) {
	color: #ccc;
}
 .ticket_box_right ul li p:nth-child(3) {
	color: #ccc;
	font-size: 16px;
}
.ticket_box_right ul li p:nth-child(4) {
	color: #31c27c;
	margin-top: 50px;
	font-size: 16px;
}
.ticket_detials{
	float: left;
	width: 200px;
	margin-left: 160px;
	margin-top: -190px;
	display: inline-block;
}

.ticket_price em{
	font-size: 20px;
	margin-right: 10px;
}
.ticket_price span{
	display: inline-block;
	 margin-left: 6px;
    width:60px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    margin-left: 10px;
    background-color: #01bc83;
    box-sizing: border-box;
}
.ticket_price span:hover{
	cursor: pointer;
}
.ticket_price i{
	display: inline-block;
	width: 17px;
    height: 13px;
    background-image: url('../images/sprite_ticket.png');
    background-position: -50px -50px;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 7px;
    /*margin-top: 3px;*/
}
.content4 .ticket_box{
	margin-bottom: 70px;
}